.background-red {
    background-color: red;
}

.background-rosy-brown {
    background-color: rosybrown;
}

.background-royal-blue {
    background-color: royalblue;
}

.background-yellow {
    background-color: yellow;
}

.background-yellow-green {
    background-color: yellowgreen;
}

.background-blue {
    background-color: blue;
}

.background-blue-violet {
    background-color: blueviolet;
}

.background-pink {
    background-color: pink;
}

