<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TwitchTV Info</title>
    <meta name="description" content="Demonstrates the use of the TwitchTV API">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script id="centeredCardContainerTemplate" type="text/template">
        <div class="ui centered <%= actionClass %> card"><%= cardContent %></div>
    </script>
    
    <script id="cardsContainerTemplate" type="text/template">
        <div class='ui centered cards'><%= cards %></div>
    </script>

    <script id="cardContentHolderTemplate" type="text/template">
        <div id='<%= linkId %>' class="<%= actionClass %> card"><%= content %></div>
    </script>
    
    <script id="channelInfoCardTemplate" type="text/template">
        <div class="image">
            <img src="<%= logo %>">
        </div>
        <div class="content">
            <div class="header"><%= displayName %></div>
            <div class="hidden ui divider"></div>
            <div class="description">
                <p>
                    <span class="right floated">
                        <i class="users icon"></i>
                        <%= followers %> followers
                    </span>
                    <i class="line chart icon"></i>
                    <%= views %> views
                </p>
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <button id="<%= trashButtonId %>" class="ui icon red button" data-card="<%= name %>">
                    <i class="trash icon"></i>
                    Delete
                </button>
                <button id="<%= linkButtonId %>" class="ui icon olive button" data-card="<%= name %>">
                    <i class="external square icon"></i>
                    Visit
                </button>
            </div>
        </div>
    </script>

    <script id="streamInfoCardTemplate" type="text/template">
        <div class="content">
            <div class="right floated meta">streaming</div>
            <img class="ui avatar image" src="<%= logo %>">
            <%= displayName %>
        </div>
        <div class="image">
            <img src="<%= preview %>">
        </div>
        <div class="content">
            <div class="description">
                <p class="ui tiny header">
                    <%= game %>
                </p>
                <div class="hidden ui divider"></div>
                <p>
                    <span class="right floated">
                        <i class="users icon"></i>
                        <%= viewers %> viewers
                    </span>
                </p>
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <button id="<%= trashButtonId %>" class="ui icon red button" data-card="<%= name %>">
                    <i class="trash icon"></i>
                    Delete
                </button>
            <button id="<%= linkButtonId %>" class="ui icon olive button" data-card="<%= name %>">
                <i class="external square icon"></i>
                Visit
            </button>
        </div>
    </script>

    <script id="missingCardTemplate" type="text/template">
        <div class="content">
            <div class="red header"><%= displayName %></div>
            <div class="hidden ui divider"></div>
            <div class="description">
                <h2 class="ui icon header">
                <i class="trash icon"></i>
                <div class="content">
                    Not Found
                    <div class="sub header">This channel is no longer available.</div>
                </div>
                </h2>            
            </div>
        </div>
        <div class="extra content">
            <button id="<%= trashButtonId %>" class="ui icon red fluid button" data-card="<%= name %>">
                <i class="trash icon"></i> Delete
            </button>
        </div>
    </script>

    <script id="loadingCardTemplate" type="text/template">
        <div id='<%= linkId %>' class="card">
            <div class="content">
                <img class="right floated small bordered ui image" src="img/logo.png">
                <div class="header"><%= displayName %></div>
                <div class="meta">
                </div>
                <div class="description">

                <div class="ui active dimmer">
                <div class="content">
                    <div class="center">
                    <div class="ui text loader">Loading</div>
                    </div>
                </div>

                </div>
                    <p>
                        <span class="right floated">
                            <i class="users icon"></i>
                        </span>
                        <i class="line chart icon"></i>
                    </p>
                </div>
            </div>
            <div class="extra content">
                <button class="ui icon red button">
                    <i class="trash icon"></i>
                </button>
                <button class="right floated ui icon olive button">
                    <i class="external square icon"></i>
                </button>
            </div>
        </div>
    </script>

    <script id="messsageTemplate" type="text/template">
        <div class="ui <%= messageType %> message">
            <i class="close icon"></i>
            <div class="header">
                <%= title %>
            </div>
            <p><%= message %></p>
        </div>
        <div class="hidden ui divider"></div>
    </script>
</head>

<body>
    <header class="ui container">
        <div class="hidden ui divider"></div>
        <h1 class="ui header">
            <img src="img/TV120.png" class="ui bottom aligned rounded image">
            TwitchTV Monitor
        </h1>
        <div class="hidden ui divider"></div>
     </header>

    <section class="ui container">
        <!-- Message Area -->
        <div id="messageArea">
        </div>

        <!-- Search and Filter Panel -->
        <div class="ui stackable grid">
            <div class="four column row">
                <div class="left floated column">
                    <div id="filterMenu" class="ui fluid floating labeled icon dropdown button">
                        <i class="filter icon"></i>
                        <span class="text">All</span>
                            <div class="menu">
                            <div class="header">
                                <i class="linkify icon"></i>
                                Filter by Status
                            </div>
                            <div class="item">
                                All 
                            </div>
                            <div class="item">
                                Online
                            </div>
                            <div class="item">
                                Offline
                            </div>
                            <div class="item">
                                Deleted
                            </div>
                        </div>
                    </div>              
                </div>
                <div class="right floated column">
                    <div id="searchInput" class="ui search">
                        <div class="ui fluid icon input">
                            <input class="prompt" type="text" placeholder="Search channels...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results">
                        </div>
                    </div>                    
                </div>
            </div>
        </div>        
        <div class="ui divider"></div>
        <!-- Search and Filter Panel -->

        <!-- Cards -->
        <div id="cardsContainer">
        </div>
        <!-- Cards -->
    </section>
    
    <div id="deleteCardDlg" class="ui basic modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            <span id="deletePrompt">DELETE CARD</span> 
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div id="confirmDeleteButton" class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>

    <footer class="ui container">
        <div class="ui divider"></div>
        <div id="resetButton" class="ui vertical animated violet button" tabindex="0">
            <div class="hidden content">
                Reset
            </div>
            <div class="visible content">
                <i class="large setting icon"></i>
            </div>
        </div>
        <div class="ui hidden divider"></div>
    </footer>

    <script data-main="js/main" src="js/require.js"></script>
</body>

</html>